<ion-header>
  <ion-navbar>
    <ion-title>
      {{'ABOUT.TITLE'|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{'ABOUT.CONTENT'|translate}}</h2>
</ion-content>
