<ion-header>
  <ion-navbar>
    <ion-title>{{'HOME.TITLE'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="ChangeLanguage()" ion-button color="light">设置语言</button>
  <h2>{{'HOME.CONTENT'|translate}}</h2>
</ion-content>
